<div id="cpFlashAlert"></div>
<% if (typeof flash !== 'undefined' && flash && flash.pwdSuccess) { %>
<div class="alert alert-success alert-dismissible fade show cp-flash">
    <i data-lucide="check-circle" style="width:18px;height:18px;"></i> <%= flash.pwdSuccess %>
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
</div>
<% } %>
<% if (typeof flash !== 'undefined' && flash && flash.pwdError) { %>
<div class="alert alert-danger alert-dismissible fade show cp-flash">
    <i data-lucide="alert-circle" style="width:18px;height:18px;"></i> <%= flash.pwdError %>
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
</div>
<% } %>
